
<div class="header-form">
    <mat-icon class="icon-header-form" fontIcon="create_new_folder"></mat-icon>
    <label>Registro alumno</label>
</div>
<form [formGroup]="registerForm">
  <div class="form-container">
    <div class="section-info-personal">
      <div class="data-container">
        <div class="title-section">
          <label>Información personal:</label>
        </div>
        <div class="data-row">
          <dx-text-box stylingMode="outlined" labelMode="floating" label="Primer Nombre"
            formControlName="firstName" style="width: 22%;">
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Primer nombre is required"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
          <dx-text-box stylingMode="outlined" labelMode="floating" label="Segundo Nombre"
            formControlName="secondName" style="width: 22%;"></dx-text-box>
          <dx-text-box stylingMode="outlined" labelMode="floating" label="Primer Apellido"
            formControlName="lastName" style="width: 22%;">
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Primer apellido is required"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>        
          <dx-text-box stylingMode="outlined" labelMode="floating" label="Segundo Apellido"
            formControlName="secondLastName" style="width: 22%;"></dx-text-box>
        </div>
        <div class="data-row">               
          <dx-select-box
            placeholder="Tipo identificación"
            [items]="typeDni"
            value="DNI"
            label="Tipo DNI"
            [inputAttr]="{ 'aria-label': 'Product With Placeholder' }"
            [showClearButton]="true"
            style="width: 22%;"
            (valueChange)="onValueChangeTypeDni($event)"
          ></dx-select-box>      
          <dx-text-box stylingMode="outlined" labelMode="floating" [label]="labelTypeDni"
            formControlName="dni" maxLength="15"  [mask]="dniMask" style="width: 22%;">
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="DNI is required"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
          <dx-select-box
            placeholder="Sexo"
            formControlName="sex"
            [items]="sexs"
            label="Sexo"
            [inputAttr]="{ 'aria-label': 'Product With Placeholder' }"
            [showClearButton]="true"
            style="width: 22%;"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Sexo is required"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-select-box> 
          <dx-select-box
            placeholder="Tipo Sangre"
            formControlName="bloodType"
            [items]="bloodType"
            label="Tipo Sangre"
            [inputAttr]="{ 'aria-label': 'Product With Placeholder' }"
            [showClearButton]="true"
            style="width: 22%;"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Tipo Sangre is required"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-select-box> 
        </div>
        <div class="data-row">
          <dx-date-box formControlName="dateOfBirth" stylingMode="outlined" type="date" 
            labelMode="floating" displayFormat="dd/MM/yyyy" 
            label="Fecha nacimiento" style="width: 22%;" [inputAttr]="{ 'aria-label': 'Date' }">
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="fecha nacimiento is required"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-date-box>
          <dx-select-box
            placeholder="Pais nacimiento"
            formControlName="countryBorn"
            displayExpr="name"
            valueExpr="id"
            [searchEnabled]="true"
            [items]="countries"
            label="Pais"
            [showClearButton]="true"
            (valueChange)="onValueSelected($event,'countryBorn')"
            [inputAttr]="{ 'aria-label': 'Product With Placeholder' }"
            style="width: 22%;"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Pais nacimiento is required"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-select-box> 
          <dx-select-box
            class="field-alig-left"
            placeholder="Departamento nacimiento"
            formControlName="stateBorn"
            displayExpr="name"
            valueExpr="id"
            [searchEnabled]="true"
            [items]="states"
            label="Departamento"
            [showClearButton]="true"
            (valueChange)="onValueSelected($event,'stateBorn')"
            [inputAttr]="{ 'aria-label': 'Product With Placeholder' }"
            style="width: 22%;"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Departamento is required"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
          <dx-select-box
            class="field-alig-left"
            placeholder="Ciudad nacimiento"
            formControlName="cityBorn"
            displayExpr="name"
            valueExpr="id"
            [searchEnabled]="true"
            [items]="cities"
            label="Ciudad"
            [showClearButton]="true"
            [inputAttr]="{ 'aria-label': 'Product With Placeholder' }"
            style="width: 22%;"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Ciudad is required"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-select-box>          
        </div>
      </div>  
      <div class="image-container">
        <div class="image" [style.background-image]="'url(' + imageSrc + ')'"></div>
        <input type="file" id="fileInput" accept="image/*" (change)="onFileChange($event)" hidden>
          <label for="fileInput" class="button">Cambiar</label>
      </div>    
    </div>
    <div class="section_2">
      <div class="title-section">
        <label>Contacto / Dirección actual:</label>
      </div>
      <div class="data-row">
        <dx-text-box stylingMode="outlined" labelMode="floating" label="Telefono"
            formControlName="phone" mask="(+000) 0000-0000" ></dx-text-box>
        <dx-text-box stylingMode="outlined" labelMode="floating" label="Correo" 
                formControlName="email" class="field-alig-left">
        </dx-text-box>
      </div>
      <div class="data-row">
        <dx-select-box
          placeholder="Pais"
          formControlName="countryResidence"
          displayExpr="name"
          valueExpr="id"
          [searchEnabled]="true"
          [items]="countries"
          label="Pais"
          [showClearButton]="true"
          (valueChange)="onValueSelected($event,'countryResidence')"
          [inputAttr]="{ 'aria-label': 'Product With Placeholder' }"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="Pais is required"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-select-box> 
        <dx-select-box
          class="field-alig-left"
          placeholder="Departamento"
          formControlName="stateResidence"
          displayExpr="name"
          valueExpr="id"
          [searchEnabled]="true"
          [items]="currentStates"
          label="Departamento"
          [showClearButton]="true"
          (valueChange)="onValueSelected($event,'stateResidence')"
          [inputAttr]="{ 'aria-label': 'Product With Placeholder' }"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="Departamento is required"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-select-box>
        <dx-select-box
          class="field-alig-left"
          placeholder="Ciudad"
          formControlName="cityResidence"
          displayExpr="name"
          valueExpr="id"
          [searchEnabled]="true"
          [items]="currentCities"
          label="Ciudad"
          [showClearButton]="true"
          [inputAttr]="{ 'aria-label': 'Product With Placeholder' }"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="Ciudad is required"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-select-box>
      </div>
      <div class="data-row">
        <dx-text-box stylingMode="outlined" labelMode="floating" label="Dirección"
          formControlName="address" style="width: 100%;" >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="Dirección is required"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>        
      </div>
    </div>
    <div class="section_3">
      <div class="title-section">
        <label>Personas de contato:</label>
      </div>
      <div class="data-row">
          <dx-data-grid [columns]="Columns" [dataSource]="contacts">
            <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true"
              [confirmDelete]="true" [useIcons]="true"
            ></dxo-editing>
          </dx-data-grid> 
      </div>
    </div>
    <div class="section_4">
      <div class="title-section">
        <label>Comentarios:</label>
      </div>
      <div class="row">
        <dx-text-area
          formControlName="comment"
          [height]="90"
          width="100%"
          [autoResizeEnabled]="true"
          [inputAttr]="{ 'aria-label': 'Notes' }">
        </dx-text-area>
      </div>
      <div class="button">
        <dx-button
          stylingMode="outlined"
          text="Guardar"
          type="default"
          [width]="120"
          [useSubmitBehavior]="true"
          (onClick)="onSaveClick()">
        </dx-button>        
      </div>
    </div>
  </div>
</form>
  